body, html{
    margin: 0;
    padding: 0;
}
.borda{
    border: 1px solid red;
}


/*Estilizar a seleçãa*/
.selecionarPerfil{
    border-radius: 5px;
    padding: 5px;
   
}
.selecionarPerfil:hover{
    cursor: pointer;
}

.selecionarPerfil:hover::-ms-expand,
.selecionarPerfil:hover::-webkit-select {
    cursor: pointer;
}


.containerLoginPerfil{
    text-align: right;
    display: none;
}

.escolhaPerfil{
    border-radius: 5px;
    border: 1px solid gainsboro;
}
.escolhaPerfil:hover{
    background-color: antiquewhite;
}
