@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


    body, html{
        margin: 0;
        padding: 0;
    }

    .borda{
        border: 1px solid red;
        
    }

    /* container pai que tem as grid de colunas login e home */
    .container{
        display: grid;
        grid-template-columns: 1fr 2fr; /* Define a primeira coluna com o dobro da largura da segunda coluna */
         /* Espaçamento entre as colunas */
        height: 100vh;
    }
    .containerTitle{
        text-align: center;
        top: 50px;
    }
    .containerLogin{
        background-color: #87CEEB;
    }
    .containerCabecaFlutuante{
        margin-top: 10px;
    }
    .cabecaFlutuante{
        width: 100px; /* largura desejada */
        margin-top: 20px;
        height: auto; /* altura automática para manter a proporção */
        border-radius: 10px; /* bordas arredondadas */
        margin: 10px; /* margem ao redor da imagem */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* sombra suave */
    }

    .containerSiac{

    }
    .siac{
        width: 100px;
        height: auto;
    }

    /* container para o login */
    .containerFormLogin{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .containerInput{
        text-align: center;
        width: 400px;
        height: 25px;
        border-radius: 5px;
        padding: 15px;
        margin: 10px;
    }

    input{
        width: 300px;
        height: 35px;
        border-radius: 5px;
        border: 1px solid #ccc;

    }
    .entrar:hover{
        cursor: pointer;
        background-color: gray;
    }
    .containerEnviar{
        text-align: center;
    }
    .containerCadastro{
        text-align: center;
    }
    #buttonCadastrar{
        border-radius: 5px;
        padding: 10px;
        background-color: #ccc;
    }
    #buttonCadastrar:hover{
        background-color: gray;
        cursor: pointer;
    }
    .esqueciSenha:hover{
        color: blue;
        cursor: pointer;
    }

    .containerTema {
        position: relative;
        background-color: #4682B4;
        background-image: url('/img/fundo_SIAC-removebg-preview 1.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .tituloSobFundo{
        position: absolute;
        top: 40%;
        left: 55%;
        transform: translate(-50%, -50%);
        color: #ffffff; /* Cor do texto */
        font-family: "Roboto Condensed", sans-serif;
        font-optical-sizing: auto;
        font-size: 45px;
        font-weight: 300;
        font-style: normal;
        text-align: center; /* Alinhamento do texto */

    }
    .textoSobTitulo{
        position: absolute;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #ffffff; /* Cor do texto */
        font-size: 20px; /* Tamanho da fonte */
        font-weight: 250;
        text-align: center; /* Alinhamento do texto */
    }
    