@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.borda{
    border: 1px solid red;
}
.dash{
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);;
    background-color: #fff;
    width: 400px; 
    height: 300px;
    margin-bottom: 25px;
    
}
.dash h5{
    color: #364670;
}



.dashMain{
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-bottom: 50px;
    
}
.grafico{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.grafico2{
    display: flex;
    gap: 20px;
    padding: 20px;
}