@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #f0f5fd;
    display: flex;
}

.left-section {
    background: white;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 25px 10px;
    transition: all 0.3s ease;
}

.left-section .sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left-section .sidebar .item {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #364670;
    cursor: pointer;
    transition: all 0.3s ease;
}

.left-section #sign-out button {
    font-size: 20px;
    border: none;
    background: transparent;
    color: #364670;
}

.left-section #sign-out:hover {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.left-section .sidebar .item.active h3,
.left-section .sidebar .item.active i,
.left-section .sidebar .item:hover,
.left-section #sign-out:hover {
    color: #1976d2;
}

.left-section .sidebar .item h3,
.left-section #sign-out h3 {
    font-size: 15px;
    font-weight: 500;
}

.left-section .sidebar .item i,
.left-section #sign-out i {
    font-size: 22px;
}

.content {
    margin: 0;
    width: 2000px;
}

.content header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 8px;
    gap: 10px;
}

.content header .search {
    background: #fff;
    display: flex;
    align-items: center;
    width: 60%;
    padding: 8px 10px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.content header .search button {
    font-size: 20px;
    border: none;
    background: transparent;
}

.content header .search input {
    padding: 4px 6px;
    font-size: 14px;
    border: none;
    outline: none;
    width: 100%;
}

.content header .search i {
    cursor: pointer;
}

.content header .icon-btns {
    display: flex;
    gap: 5px;
}

.content header .icon-btns i {
    font-size: 20px;
    background: #1976d2;
    padding: 8px;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.content header .icon-btns i:hover {
    background: #0d47a1;
}

.content header .icon-btns i#menu-btn {
    display: none;
}

/* .right-section {
    background: red;
} */

.right-section .profile {
    background: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.2), 0 24px 20px -24px rgba(71, 82, 107, 0.1);
}

.right-section .profile:hover {
    border: 1px solid black;
    cursor: pointer;
}

.right-section .profile .info {
    display: flex;
    align-items: center;
    gap: 14px;
}

.right-section .profile .info img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.right-section .profile .info .account h5 {
    font-size: 15px;
    margin-bottom: 4px;
    cursor: pointer;
}

.right-section .profile .info .account p {
    font-size: 13px;
    color: #999;
}

.right-section .profile > i {
    font-size: 24px;
    color: #364670;
    cursor: pointer;
}