*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    
}
.borda{
   border: 1px solid red;
}
main button{
    margin: 10px;
}
    
.iconeUser{
    border: 1px solid #ccc;
    border-radius: 100px;
    display: inline;
}
.iconeUser:hover{
    background-color: blue;
    cursor: pointer;
}

#paciente{
    display: none;
}
#recepcionista{
    display: none;
}
#psicologo{
    display: none;
}
