<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.min.css">
    <link rel="stylesheet" href="/css/psicologo/prontuarioDetalheUser.css">
    <title></title>
</head>
<body >
    <div class="loading">
        <div class="spinner"></div>
        <p>Enviando dados...</p>
    </div>
    

    <div class="left-section">
        <div class="sidebar">
            <img src="/img/CORTADO_logo_fundo_grande-removebg-preview 1.png" class="img-fluid" alt="">
            <div class="item inicio">
                <i class="ri-home-line"></i>
                <h3>Inicio</h3>
            </div>
            <div class="item">
                <i class="ri-folder-line"></i>
                <h3>Your Files</h3>
            </div>
            <div class="item">
                <i class="ri-hard-drive-3-line"></i>
                <h3>Your Disks</h3>
            </div>
            <div class="item">
                <i class="ri-folder-lock-line"></i>
                <h3>Protected</h3>
            </div>
            <div class="item">
                <i class="ri-delete-bin-5-line"></i>
                <h3>Trash</h3>
            </div>
            <div class="item">
                <i class="ri-settings-3-line"></i>
                <h3>Settings</h3>
            </div>
        </div>

        <div class="item sign-out">
            <button id="logout"><i class="ri-logout-box-r-line"></i></button>
            
            <h3>Sign Out</h3>
        </div>
    </div>

    <div class="main">
        <table id="relatorioTable">
            <thead>
                <th>Status</th>
                <th>Data</th>
                <th>Horários</th>
            </thead>
            <tbody>

            </tbody>
        </table>


        <div class="container containerProntuario" id="prontuarioAntigo">
            <h1>Prontuário do Paciente</h1>
            <section class="info-basica">
                <h2>Informações Básicas</h2>
                <p class="infoData"></p>
                
                <p  class="nome"><strong>Nome:</strong></p>
                <p class="data-nascimento"><strong>Data de Nascimento:</strong></p>
                <p  class="sexo"><strong>Sexo:</strong> </p>
                <p  class="endereco"><strong>Endereço:</strong></p>
                <p  class="telefone"><strong>Telefone:</strong></p>
                <p class="email"><strong>E-mail:</strong></p>
            </section>
    
            <section class="historico-medico">
                <h2>Histórico Médico</h2>
                <p class="doencaPreExistente"><strong>Doenças Pré-existentes:</strong></p>
                <p class="cirurgiaAnterior"><strong>Cirurgias Anteriores:</strong></p>
                <p class="medicamentoEmUso"><strong>Medicamentos em Uso:</strong></p>
                <p class="alergia"><strong>Alergias:</strong></p>
                <p class="historicoFamiliar"><strong>Histórico Familiar:</strong></p>
            </section>
    
            <section class="exames-resultados">
                <h2>Exames e Resultados</h2>
                <ul>
                    <li>
                        <p class="tipo"><strong>Tipo:</strong> </p>
                        <p class="data"><strong>Data:</strong></p>
                        <p class="resultado"><strong>Resultados:</strong></p>
                        <p class="comentario"><strong>Comentários:</strong></p>
                    </li>
                </ul>
            </section>
    
            <section class="anotacoes-medico">
                <h2>Anotações do Médico</h2>
                <p class="observacao"><strong>Observações:</strong></p>
                <p class="recomendacao"><strong>Recomendações:</strong></p>
                <p class="planoTratamento"><strong>Planos de Tratamento:</strong></p>
            </section>

            <section class="sectionButton">
                <button class="fechar">Fechar</button>
            </section>
        </div>

        <div class="container2 containerProntuario" id="prontuarioAtual">
            <h1>Prontuário do Paciente</h1>
            
            <!-- Informações Básicas -->
            <section class="info-basica">
                <h2>Informações Básicas</h2>
                <p class="infoData"></p>
                <label for="nome"><strong>Nome:</strong></label>
                <input disabled type="text" id="nome" class="nome" name="nome" value=""><br>
                <label for="data-nascimento"><strong>Data de Nascimento:</strong></label>
                <input disabled type="date" id="data-nascimento" name="data-nascimento" value=""><br>
                <label for="sexo"><strong>Sexo:</strong></label>
                <input disabled type="text" id="sexo" name="sexo" value=""><br>
                <label for="endereco"><strong>Endereço:</strong></label>
                <input disabled type="text" id="endereco" name="endereco" value=""><br>
                <label for="telefone"><strong>Telefone:</strong></label>
                <input disabled type="tel" id="telefone" name="telefone" value=""><br>
                <label for="email"><strong>E-mail:</strong></label>
                <input disabled type="email" id="email" name="email" value=""><br>
            </section>
            
            <!-- Histórico Médico -->
            <section class="historico-medico">
                <h2>Histórico Médico</h2>
                <label for="doencas"><strong>Doenças Pré-existentes:</strong></label>
                <input type="text" id="doencas" name="doencas" value=""><br>
                <label for="cirurgias"><strong>Cirurgias Anteriores:</strong></label>
                <input type="text" id="cirurgias" name="cirurgias" value=""><br>
                <label for="medicamentos"><strong>Medicamentos em Uso:</strong></label>
                <input type="text" id="medicamentos" name="medicamentos" value=""><br>
                <label for="alergias"><strong>Alergias:</strong></label>
                <input type="text" id="alergias" name="alergias" value=""><br>
                <label for="historico-familiar"><strong>Histórico Familiar:</strong></label>
                <input type="text" id="historico-familiar" name="historico-familiar" value=""><br>
            </section>
            
            <!-- Exames e Resultados -->
            <section class="exames-resultados">
                <h2>Exames e Resultados</h2>
                <ul>
                    <li>
                        <label for="tipo-exame"><strong>Tipo:</strong></label>
                        <input type="text" id="tipo-exame" name="tipo-exame" value=""><br>
                        <label for="data-exame"><strong>Data:</strong></label>
                        <input type="date" id="data-exame" name="data-exame" value=""><br>
                        <label for="resultados-exame"><strong>Resultados:</strong></label>
                        <input type="text" id="resultados-exame" name="resultados-exame" value=""><br>
                        <label for="comentarios-exame"><strong>Comentários:</strong></label>
                        <input type="text" id="comentarios-exame" name="comentarios-exame" value=""><br>
                    </li>
                </ul>
            </section>
            
            <!-- Anotações do Médico -->
            <section class="anotacoes-medico">
                <h2>Anotações do Médico</h2>
                <label for="observacoes"><strong>Observações:</strong></label>
                <input type="text" id="observacoes" name="observacoes" value=""><br>
                <label for="recomendacoes"><strong>Recomendações:</strong></label>
                <input type="text" id="recomendacoes" name="recomendacoes" value=""><br>
                <label for="planos-tratamento"><strong>Planos de Tratamento:</strong></label>
                <input type="text" id="planos-tratamento" name="planos-tratamento" value=""><br>
            </section>
            
            <!-- Botões -->
            <section class="sectionButton">
                <button class="fechar">Fechar</button>
                <button type="button" id="submit-button">Gravar</button>
            </section>
        </div>
        
    </div>




    <div class="right-section">
        <div class="profile" id="conta">
            <div class="info">
                <i style="font-size: 25px;" class="ri-account-circle-line"></i>
                <div class="account">
                    <h5></h5>
                    <p></p>
                </div>
            </div>
            
        </div>

        <!-- <div class="widgets">
            <div class="disk">
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
                <div class="info">
                    <h5><span>750</span> GB Free<span> / 1</span> TB</h5>
                    <p>Available Storage</p>
                </div>
            </div>

            <div class="bottom">
                <button>New Upload <i class="ri-add-line"></i></button>

                <div class="premium">
                    <div class="title">
                        <i class="ri-folder-add-line"></i>
                        <h5>Buy Premium</h5>
                    </div>
                    <p>Upgrade space now and get a 18% discount.</p>
                </div>
            </div>
        </div> -->
    </div>
    
    
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script type="module" src="/js/psicologo/relatorio/prontuarioDetalheUserAjax.js"></script>
<script type="module" src="/js/psicologo/relatorio/prontuarioDetalheUserFuncao.js"></script>
<script src="/js/usuario/principal/SectionLeft.js"></script>
<script src="/js/usuario/principal/SectionRigtth.js"></script>
</body>
</html>
