<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/recepcionista/verificacaoAgendamento.css">
    <title>Tela Recepcionista Agendamento</title>
</head>
<body class="d-flex justify-content-center align-items-center">
    
    <div class="container text-center" id="containerVerify">
        <input class="input" id="inputVerify" placeholder="Digite cpf ou nome de user do paciente"><br>

        <button class="btn btn-success" id="buttonVerify">Verificar Consulta</button>
    </div>


    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/js/recepcionista/verificacaoAgendamento/ajaxRecAgenda.js"></script>
    <script src="/js/recepcionista/verificacaoAgendamento/funcaoRecAgenda.js"></script>
</body>
</html>