body, html{
    margin: 0;
    padding: 0;

}
body{
    height: 100vh;
    background-color: aliceblue;
}
.container{
    border-radius: 10px;
}
.input{
    width: 400px;
    margin: 50px;
}
.borda{
    border: 1px solid red;
}
#containerVerify{
    border-radius: 15px;
    background-color: darkgray;
    padding-bottom: 15px;
}