<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/usuario/cadastro.css">
    <title>Tela de Cadastro</title>
</head>
<body class="d-flex align-items-center justify-content-center">

    <div class="borda" id="containerCadastro">
        <form id="formCadastroUser">
            <label for="nome">Nome Completo: </label>
            <input name="nome" type="text" id="nome"><br><br>

            <label for="email">E-mail: </label>
            <input id="email" type="email" name="email"><br><br>

            <label for="nomeUser"> Nome de Usuario: </label>
            <input id="nomeUser" type="text" name="nomeUser"><br><br>

            <label for="pass">senha: </label>
            <input id="pass" name="password" type="password"><br><br>

            <button type="submit" class="btn btn-success">Enviar</button>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src='/js/usuario/cadastro/ajaxCadastro.js'></script> <!--Tem que ser colocado depois do jquery-->
    <!--Se você está usando express.static com o diretório public, o caminho relativo dentro do seu HTML (ou em qualquer lugar onde você esteja referenciando os recursos estáticos) deve ser especificado após o diretório public.-->

</body>
</html>