<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/usuario/agendamento.css">
    <title>Tela de Agendamento</title>
    

</head>
<body>
    <header>
        <div >
            <!-- <img src="/img/chatbot_Icone.png"> -->
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">SIAC</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Universidade</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </li>
      
                    </ul>
                    
                    
                  </div>
                </div>
              </nav>
            <div style="display: inline-block;">
                <button id="voltar" class="btn btn-warning">voltar</button>
            </div>
           
        </div>
        
    </header>
    <main>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid text-right">
          
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
            
            <div class="p-2">
              <input type="date" class="data" placeholder="Insira a Data desejada" >
            </div>
            <div class="containerDiaSemana">
              <div>
                <input type="text" disabled class="diaSemana">
                <button class="buttonDiaSemana">Selecione o dia da Semana</button>
              </div>
              <select class="selectDiaSemana">
                <option disabled selected>Dia da Semana</option>
                <option>Segunda-Feira</option>
                <option>Terça-Feira</option>
                <option>Quarta-Feira</option>
                <option>Quinta-Feira</option>
                <option>Sexta-Feira</option>
              </select>
            </div>
            <div class="p-2"> 
              <input type="time" class="hora" placeholder="Insira o Horário Desejado" >
            </div>
            <select id="selecionePsico" class="m-2">
              <option aria-disabled="true">Selecione Profissional</option>
              
            </select>
            
            <button class="btn btn-outline-success search" type="submit">Search</button>
          
          </div>
        </div>
      </nav>
        
        <div class="planner borda">
            <h1>Event Calendar</h1>
            <div class="containerSelectMonth">
              <select class="selectMonth">
                <option disabled selected>Selecione o Mes da Consulta</option>
                <option value="0">Janeiro</option>
                <option value="1">Fevereiro</option>
                <option value="2">Março</option>
                <option value="3">Abril</option>
                <option value="4">Maio</option>
                <option value="5">Junho</option>
                <option value="6">Julho</option>
                <option value="7">Agosto</option>
                <option value="8">Setembro</option>
                <option value="9">Outubro</option>
                <option value="10">Novembro</option>
                <option value="11">Dezembro</option>
              </select>
            </div>
            
            
            <div id="calendar" class="calendar-grid">
              
            </div>
        </div>
        
        <div class="loader" id="loader"></div>

        <!-- <button class="add-task-btn" onclick="showAddTaskModal()">Add Taks</button> -->

        <!-- <div id="addTaskModal" class="modal borda">
            <div class="modal-content borda">
                <span class="close" onclick="closeAddTaskModal()">&times;</span>
                <h2>Add Task</h2>
                <input type="date" id="task-date">
                <input type="text" id="task-desc" placeholder="Task Description">
                <button onclick="addTask()">Add Task</button>
            </div>
        </div> -->

            
        
    </main>

    
    
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="/js/usuario/paciente/agendamento/ajaxAg.js"></script>
    <script src="/js/usuario/paciente/agendamento/funcaoAg.js"></script>
</body>
</html>