<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seu histórico</title>
</head>
<body>
    OLÁ MEU CHAPA!
    SEU HISTÓRICO DE CONSULTAS VAI APARECER AQUI
    FUNCIONALIDADE EM DESENVOLVIMENTO PELO EDU...
</body>
</html>