
body,html{
    margin: 0;
    padding: 0;
}

.containerGeral{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerEmail{
    width: 300px;
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
}
.borda{
    border: 1px solid red;
}
.containerEmail input{
    width: 250px;
    padding: 5px;
    border-radius: 3px;
}


.containerInfo{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
}
.buttonEnviar{
    margin: 5px;
}
.loader {
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #3498db;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    display: none;
    position: fixed;
    top: 40%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  