<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/usuario/conta.css">
    <title>Document</title>
</head>
<body>
    <div class="containerVoltar">
        <button class="btn btn-warning voltar">Voltar</button>
    </div>
    <div class="row container" id="containerConta">
        <div class="col-md-6">
            <label>Nome</label>
            <input id="nome" name="nome" disabled><br>

            <label>E-mail: </label>
            <input id="email" name="email" disabled>

           
        </div>
        <div class="col-md-6">
            <label>Nome de usuario</label>
            <input id="nomeUser" name="nomeUser" disabled><br>

            <label>celular</label>
            <input id="celular" name="celular" disabled>
        </div>

    </div>
    <div class="container" id="containerButton">
        <button class="button btn btn-info" id="buttonAtualizar">Atualizar Conta</button>

        <div id="containerConfCan">
            <button id="buttonConfirmar" class="btn btn-success">Confirmar</button>
            <button id="buttonCancelar" class="btn btn-danger">Cancelar</button>
        </div>

        <div class='msgServer'>Atualização de usuário realizado com sucesso</div>
        
    </div>

    <div id="containerConsultas" class="container ">

        

    </div>
        
        
    
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="/js/usuario/conta/ajaxConta.js"></script>
<script src="/js/usuario/conta/funcaoConta.js"></script>

</body>
</html>